# Bonus: Temperature Analysis I

In [31]:
import pandas as pd
from datetime import datetime as dt

In [32]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [33]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [34]:
# Set the date column as the DataFrame index
df = df.set_index('date')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19550 entries, 2010-01-01 to 2017-08-23
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   prcp     18103 non-null  float64
 2   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 610.9+ KB

### Compare June and December data across all years

In [23]:
from scipy import stats

In [53]:
# Filter data for desired months
avg_june_temp=df[df.index.month.isin([6])]
avg_dec_temp=df[df.index.month.isin([12])]

In [54]:
# Identify the average temperature for June
avg_june_temp = avg_june_temp.groupby(avg_june_temp['station']).mean()
print(avg_june_temp)

                 prcp       tobs
station
USC00511918  0.015157  74.139394
USC00513117  0.118248  74.050847
USC00514830  0.114192  76.005376
USC00516128  0.495748  71.937220
USC00517948  0.057975  76.655405
USC00518838  0.094615  73.394737
USC00519281  0.151525  73.271186
USC00519397  0.022661  77.559322
USC00519523  0.050044  76.668103

In [55]:
# Identify the average temperature for December
avg_dec_temp = avg_dec_temp.groupby(avg_dec_temp['station']).mean()

In [ ]:
# Create collections of temperature data

In [58]:
# Run paired t-test
stats.ttest_ind(avg_june_temp['tobs'], avg_dec_temp['tobs'], equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)

### Analysis

I'm using unpaired t test as the data is distinct i.e. one for month June and other for Dec. We reject the null hypothesis as  pvalue is apprx- 0.00036.